
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Dosis&family=Noto+Serif:wght@300&display=swap');


a:link    { color: #BBD2D3;  }
a:visited { color: #1E4045;   }
a:hover   { color: #CFC8CD; }
a:active  { color: #9BCCD3;  }

.button{
    border-radius: 5px;
    padding: 10px;
    background: #66999B;
}

header {
  height: 150px;
  background-color: #66999B;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 15px;
} 

body {
	text-align: center;
}

main {
  width: 800px;
  margin: auto;
  display: flex;
}

.left-side {
  width: 50%;
}

.portfolio {
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div { 
	text-align: center; 
	font-family: Dosis, sans-serif;
	color: #2B2D42;
}

h1, h2, h3, p, nav {
  color: #2B2D42;
  text-align: center;
  }
  
h1 {
  font-family: Almendra, cursive;
  text-align: center
  }

h2, h3 {
  font-family: "Noto Serif", serif;
}
	
nav {
  background-color: #66999B;
  font-family: Dosis, sans-serif;
  font-weight: bold;
	}
	
p {
  text-align: center;
	font-family: Dosis, sans-serif;
	font-weight: bold;
  }
  
  hr.style1 {
	border-top: 1px solid #387780;
	margin: 10px;
}

	
ul, ol, li {
  text-align: left;
  list-style: inside;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #2B2D42;
}

footer {
  color: #2B2D42;
  height: 30px;
  padding: 0;
  text-align: center;
}

footer div {
  background-color: #66999B;
  padding: 15px;
  text-align: center;
}

.portfolio {
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
main {
  display: block;
  width: 500px;
}

.portfolio {
  width: 90%;
}

.left-side {
  width: 90%;
}

}


