
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+Display&family=Almendra+SC&family=Dosis:wght@600&family=Jim+Nightshade&display=swap');


a:link    { color: #BBD2D3;  }
a:visited { color: #1E4045;   }
a:hover   { color: #CFC8CD; }
a:active  { color: #9BCCD3;  }

.button{
    border-radius: 5px;
    padding: 10px;
    background: #386061;
}

header {
  height: 150px;
  background-color: #66999B;
  margin-bottom: 20px;
} 

body {
	text-align: center;
}

main {
  width: 500px;
  margin: auto;
}

div { 
	text-align: center; 
	font-family: Dosis, sans-serif;
	color: #2B2D42;
}

h1, h2, h3, p, nav {
  color: #2B2D42;
  text-align: center;
  }
  
h1 {
  font-family: "Almendra", cursive;
  text-align: center
  }

h2, h3 {
  font-family: "Almendra SC", cursive;
}
	
nav {
  background-color: #66999B;
  font-family: Dosis, sans-serif
	}
	
p {
  text-align: center;
	font-family: Dosis, sans-serif;
	font-weight: bold;
  }
  
  hr.style1 {
	border-top: 1px solid #387780;
	margin: 10px;
}

	
ul, ol, li {
  text-align: left;
  list-style: inside;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #2B2D42;
}

footer {
  color: #2B2D42;
  height: 30px;
  padding: 0;
  text-align: center;
}

footer div {
  background-color: #66999B;
  padding: 15px;
  text-align: center;
}
	
